<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests" parallel="methods" thread-count="7" configfailurepolicy="continue">
    <test verbose="1" name="Regression" annotations="JDK">
        <packages>
            <package name="com.rijksmuseum.tests.artObject.details"/>
            <package name="com.rijksmuseum.tests.artObject.images"/>
            <package name="com.rijksmuseum.tests.artObject.search"/>
        </packages>
    </test>
</suite>